/* Подключение шрифтов */

@font-face {
	font-family: Gotham;
	src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
	font-family: Proxima;
	src: url(../fonts/proximanova-regular.otf);
}

/* Общие стили */

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

/* Стили для элементов header */

header .container {
	background: linear-gradient(0deg, rgba(221, 34, 17, 0.87), rgba(221, 34, 17, 0.87));
	width: 1200px;
	margin: 0 auto;
}

.logo-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px 0;
}

header .logo img {
	width: 250px;
	height: 85px;
}

.nav {
	display: flex;
	list-style: none;
}

.nav a {
	text-decoration: none
}

.nav li {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 15px;
}

.nav li:hover {
	background-color: #242121;
	color: #fff;
	border-radius: 10px;
}

.header_txt {
	display: flex;
	flex-direction: column;
	padding: 25px 100px 100px 100px;
}

h1 {
	font-family: Gotham;
	font-size: 80px;
	text-transform: uppercase;
}

.h1-sp1 {
	color: #242121;
}

.h1-sp2 {
	color: #fff;
}

.header_txt p {
	color: #fff;
	width: 500px;
}

/* Стили для элементов main */

/* Стили для элемента Our services */
.service {
	background-color: #ebebeb;
	width: 1200px;
	margin: 0 auto;
	padding: 50px 100px;
}

.our-services {
	display: flex;
	justify-content: space-between;
}

.service-item p {
	width: 150px;
	font-size: 17px;
	color: #242121;
}

h2 {
	font-size: 40px;
	font-family: Gotham;
	text-transform: uppercase;
}

.h2-sp1 {
	color: #c92a2a;
}

.h2-sp2 {
	color: #242121;
}

.our-services i {
	font-size: 150px;
	color: #242121;
}

/* Стили для элемента Our story */
main .story {
	background-color: #242121;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 50px 100px;
}

.story-txt {
	color: #fff;
	font-size: 18px;
	width: 600px;
}

.story-btn {
	background-color: #c92a2a;
	text-transform: uppercase;
	width: 300px;
	color: #fff;
	font-size: 18px;
	border: 0;
	border-radius: 10px;
}

/* Стили для элемента Pricing */
main .pricing {
	background-color: #ebebeb;
	width: 1200px;
	margin: 0 auto;
	padding: 50px 100px;
}

.pricing h2 {
	text-align: center;
}

.price-title {
	font-size: 18px;
	color: #242121;
}

.price-num {
	color: #c92a2a;
	font-size: 50px;
	font-weight: bold;
	margin: 30px 0;
}

.price-cards {
	display: flex;
	justify-content: space-between;
}

.price-item {
	width: 310px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 25px;
	border: 0;
	border-radius: 10px;
}

.price-item ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

.price-item li {
	font-size: 18px;
	color: #242121;
}

.price-btn {
	background-color: #242121;
	text-transform: uppercase;
	color: #fff;
	width: 250px;
	height: 70px;
	font-size: 18px;
	border: 0;
	border-radius: 10px;
	margin-top: 30px;
}

/* Стили для элементов footer */

footer .container {
	background-color: #242121;
	width: 1200px;
	margin: 0 auto;
}

.copy-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px;
}

.copyright {
	color: #fff;
	font-size: 18px;
}

footer .logo img {
	width: 150px;
	height: 50px;
}
